body {
    font-family: 'Roboto', sans-serif;
    color: crimson;
    background-color: #1d1e22;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40pt;
    font-weight: 800;
}

#start {
    margin-top: 33vh;
    padding: 50px;
    background-color: antiquewhite;
    border: 4px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px blue;
    text-align: center;
}
span > a{
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0px;
}

@media (max-width : 425px) {
    h1 {
        font-size: 4em;
    }
}
